/*
*********
RESET
*********
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
*********
BODY
*********
*/
body{
    font-family: 'Roboto', sans-serif;
}

/*
*********
MAIN
*********
*/

.megaconteiner{
    display: flex;
    margin: 20px auto;
}
.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1000px;
    margin: 20px auto;
}

.item{
    position: relative;
    width: calc(100% / 3 - 40px);
    height: 400px;
    margin-bottom: 80px;
}
/*.item:hover{
    background-image: url(/img/1b.webp);
    z-index: ;
}*/
.margin-mid{
    margin-left: 10px;
    margin-right: 10px;
}
img{
    display: block;
    height: 100%;
    width: 100%;
}
.heart{
    background-color: white;
    padding: 7px;
    position: absolute;
    right: 0px;
    top: 5px;
}
.info{
    position: absolute;
    left: 0px;
    bottom: 70px;
}
.price-tag{
    color: white;
    background-color: red;
    padding: 7px;
    font-weight: bolder;
}

.ecologico{
    color: white;
    background-color: green;
    padding: 7px;
    font-weight: bolder;
}
.grey{
    color: grey;
}
.h3{
    font-weight: bolder;
}
.sbarra{
    text-decoration: line-through;
}
.red{
    color: red;
}