/*
*********
RESET
*********
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
*********
BODY
*********
*/
body{
    font-family: 'Roboto', sans-serif;
}

/*
*********
HEADER
*********
*/

header{
    background-color: orangered;
    padding: 10px;
    color: white;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); ;
}
.head{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
}
.logo{
    width: 100px; 
}
.logo img{
    width: 100%;
    height: 100%;
}
.link a{
    text-decoration: none;
    color: white;
}

/*
*********
MAIN
*********
*/

.megaconteiner{
    display: flex;
    margin: 20px auto;
}
.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1000px;
    margin: 20px auto;
}

.item{
    position: relative;
    width: calc(100% / 3 - 40px);
    height: 400px;
    margin-bottom: 80px;
}
.item:hover .main{
    display: none;
}
.item:hover .alt{
    display: block;
}
.alt{
    display: none;
}
.margin-mid{
    margin-left: 10px;
    margin-right: 10px;
}
img{
    display: block;
    height: 100%;
    width: 100%;
}
.heart{
    background-color: white;
    padding: 7px;
    position: absolute;
    right: 0px;
    top: 5px;
}
.info{
    position: absolute;
    left: 0px;
    bottom: 70px;
}
.price-tag{
    color: white;
    background-color: red;
    padding: 7px;
    font-weight: bolder;
}

.ecologico{
    color: white;
    background-color: green;
    padding: 7px;
    font-weight: bolder;
}
.grey{
    color: grey;
}
.h3{
    font-weight: bolder;
}
.sbarra{
    text-decoration: line-through;
}
.red{
    color: red;
}

/*
*********
FOOTER
*********
*/

footer{
    background-color: #1a1a1a;
    padding: 10px;
    color: white;
    border-bottom: 1px solid white;
    
}
.credenziali{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
}
.credenziali a{
    text-decoration: none;
    color:white;
    display: flex;
    justify-content: space-between;
}